.wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 600px;
    background-color: #FAFDAB;
    color: inherit;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border-radius: 3.5px;
}

.col-sm-4 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.col-sm-8 {
    font-family: 'Kanit', sans-serif;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    color: #17a2b8;
}

h6,h5 {
    font-size: 18px;
    color: white;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.col-md-11 {
    margin-left: 20px;
}

.btn-primary {
    color: #772953;
    border-color: #772953;
    font-size: 15px;
}

.btn-primary:hover {
    background: #772953;
}

.btn-primary:focus {
    background: #772953;
}

.help-block {
    color: red;
    float: left;
    padding-left: 10px;
}

.card {
    position: relative;
    padding-bottom: 90%;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.card__front {
    background-color: #772953;
}

.card__back {
    background-color: #772953;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

#main-heading {
    border-bottom: 10px dotted #E95420;
}